{% extends 'layouts/main.html' %}
{% block title %}octoSwitch{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">How it works</h1>
            <p>octoSwitch is a prototype audio switch intended for DIY multi room setups!</p>
            <p>It is implemented as a standalone web app that runs on a Raspberry Pi Zero W which is connected to the electronic circuit handling the audio switching.
            In it's current form, the switch handles 2 audio outputs, which can play at the same time or play separately.</p>
            <p>NOTE: The volume controls currently do not work, and are there for visual testing.</p>
        </div>
    </div>
</div>
{% endblock %}